.LoaderWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  opacity: 1;
  --green: #3efce4;
  --purple: #ad60fe;
}

.Loader {
  width: 100%;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side, light-dark(#0d0d0d, #f3f3f3) 90%, #e1161600);
  background: var(--_g) 50% 0, var(--_g) 0 100%, var(--_g) 100% 100%;
  background-size: 35% calc(35% * 1.154);
  animation: l16 1s infinite;
}
@keyframes l16 {
  50%,
  100% {
    background-position: 100% 100%, 50% 0, 0 100%;
  }
}

@media (prefers-color-scheme: dark) {
  /* .LoaderWrapper */
}
