.Chat {
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  height: 100%;
  padding: 1.5rem 1rem;
  overflow-y: auto;
}

.Group
/* .WelcomeMessage */ {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
/* .WelcomeMessage {
  height: fit-content;
} */
.Group:nth-last-of-type(2) {
  /* min-height: calc(100% - 8px); */
  height: fit-content;
}

.Message {
  width: fit-content;
  max-width: 90%;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 1rem 0.5rem;
  /* background: #32c0c1; */
  /* background: #263b42; */
  background: light-dark(#f3f3f3, transparent);
  /* color: #fff; */
  color: light-dark (#444444, #f3f3f3);
  border: 1px light-dark(#f3f3f3, white) solid;
  &[data-role="user"] {
    border-radius: 1rem;
    align-self: flex-end;
    background: light-dark(#f3f3f3, #1b1b1b);
    border-radius: 0.5rem 1rem;
    border: none;
    color: light-dark(#4c4c4c, #f3f3f3);
  }
}
